#cs1300-gallery {
  background-color: lightblue;
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-item {
  width: 200px;
}